@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url(//db.onlinewebfonts.com/c/d51e4b7fd1f8f28effd66c0a894eb8fb?family=Begum);



* {
    margin: 0;
    padding: 0;
    font-family: "Begum", sans-serif;
}

#container {
    display: flex;
    gap: 45px;
    align-items: center;
    height: 72px;
    background-color: #f9f9fa;
    position: relative;
    margin-left: 0px;
}

.logo {
    width: 138px;
    height: 30px;

}

.nav {
    display: flex;
    padding: 24px 0px;
    width: 630px;
}

.nav>div {
    text-align: center;
    font-size: 11px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.pin-search{
    display: flex;
    gap: 2px;
}

.pin-search > div{
    margin-left: 0px;
}

.icon {
    display: flex;
    justify-content: center;
    background-color: #f6eff6;
    padding: 24px 24px;
    width: 288px;
}

.icon>div {
    margin: auto;
}

.img {
    width: 100%;
    height: 100%;
}

.imgsec{
    display: flex;
}

.rightimg{
    position: relative;
    top: 20px;
    left: 45px;
}

.twoimg{
    position: relative;
    top: 20px;
    left: 120px;
}

.lowerimg{
    position: relative;
    top: 25px;
}

.dropbtn {
    color: black;
    font-size: 11px;
    border: none;
}

.dropdown {
    display: inline-block;
    margin-top: -4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dc{
    width: 95vw;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.mega-menu {
    display: flex;
    background-color: white;
    position: relative;
    top: 10px;
}

.left-menu {
    width: 40%;
    height: 400px;
    overflow: hidden;
}

.left-menu>div>h4 {
    position: relative;
    left: 30px;
}

.filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
}

.filter>div {
    display: flex;
    margin-left: 50px;
    gap: 10px;
    text-transform: uppercase;
}

.filter>div>p {
    margin-top: 27px;
}

.right-menu {
    width: 20%;
    height: 400px;
}

.right-menu>div>h4 {
    position: relative;
    top: 0px;
    left: 20px; 
}

.metal {
    position: relative;
    top: 30px;
    left: 90px;
    text-transform: uppercase;
    line-height: 40px;
    width: 100%;
    overflow: hidden;
}

.men {
    width: 40%;
    height: 400px;
}

.men>h4 {
    position: relative;
    left: 30px;
}

.men>div {
    position: relative;
    top: 20px;
    left: 140px;
    line-height: 25px;
}

.designs {
    position: relative;
    top: 80px;
    left: 140px;
}

p {
    font-size: 11px;
}

.exploreimg {
    position: relative;
}

.explorebtn {
    position: absolute;
    top: 25px;
    left: 50px;
}

.explorebtn button {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid rgb(218, 74, 218);
    background: transparent;
    color: rgb(218, 74, 218);
    cursor: pointer;

}

.explorebtn h1 {
    color: rgb(218, 74, 218);
    font-size: 50px;
    font-weight: lighter;

}

.eardesigns {
    position: relative;
    top: 50px;
    left: 140px;
}

